@font-face {
    font-family: 'Times Sans Serif';
    src: url('TimesSansSerif.woff2') format('woff2'),
        url('TimesSansSerif.woff') format('woff'),
        url('TimesSansSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

