@font-face {
    font-family: 'Lao MN';
    src: url('LaoMN.woff2') format('woff2'),
        url('LaoMN.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lao MN';
    src: url('LaoMN-Bold.woff2') format('woff2'),
        url('LaoMN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

