@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.container {
  padding-bottom: 10px;
}

body {
  text-decoration: none;
  background-color: #000000ca;
  color: white;
}

header {
  background-image: url(../img/Header-img.png);
  background-position: center;
}

.logo {
  margin: auto;
  width: 180px;
  height: 180px;
}

.introduction-text {
  text-align: center;
  font-family: Lato-Light;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 30px;
}

.navigation-bar {
  font-family: LaoMN;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: 50px;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.Specialities-title {
  font-family: LaoMN;
  font-size: 29px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 47px;
}
