@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  background-color: #000000ca;
  color: white;
}

a {
  text-decoration: none;
}

//HEADER

header {
  background-image: url(../img/Header-img.png);
  background-position: center;
  padding-top: 32px;
}

.logo {
  margin: auto;
  width: 180px;
  height: 180px;
}

.introduction-text {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  padding-top: 30px;
}

.navigation-bar {
  font-family: LaoMN;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: 50px;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

//HEADER

//SPECIAL 1

.speciality-text {
  background-color: #212121;
  margin-left: 32px;
  margin-right: 32px;
}

.Specialities-title {
  font-family: LaoMN;
  font-size: 29px;
  letter-spacing: 0;
  padding-top: 47px;
  padding-bottom: 47px;
  margin-left: 21px;
  margin-right: 21px;
}

.speciality-img-1 {
  width: auto;
  margin: auto;
  margin-left: 21px;
  margin-right: 21px;
}

.ingredient-img-1 {
  width: 121px;
}

@media (max-width: 992px) {
  .ingredient-img-1 {
    display: none;
  }
}

.golden-box-1 {
  width: 121px;
  z-index: 1;
}

@media (max-width: 992px) {
  .golden-box-1 {
    display: none;
  }
}

.speciality-title-1 {
  font-family: LaoMN;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 20px;
  margin-left: 21px;
  margin-right: 21px;
}

.speciality-description-1 {
  font-family: Lato-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
  padding-bottom: 30px;
  margin-left: 21px;
  margin-right: 21px;
}

//SPECIAL 1

//SPECIAL 2

.speciality-img-2 {
  width: auto;
  margin: auto;
  margin-left: 21px;
  margin-right: 21px;
}

.ingredient-img-2 {
  width: 121px;
  margin-left: 21px;
}

@media (max-width: 992px) {
  .ingredient-img-2 {
    display: none;
  }
}

.golden-box-2 {
  width: 121px;
  z-index: 1;
}

@media (max-width: 992px) {
  .golden-box-2 {
    display: none;
  }
}

.speciality-title-2 {
  font-family: LaoMN;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 20px;
  margin-left: 21px;
  margin-right: 21px;
}

.speciality-description-2 {
  font-family: Lato-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
  padding-bottom: 30px;
  margin-left: 21px;
  margin-right: 21px;
}

//SPECIAL 2

//SPECIAL 3

.speciality-img-3 {
  width: auto;
  margin: auto;
  margin-left: 21px;
  margin-right: 21px;
}

.ingredient-img-3 {
  width: 121px;
}

@media (max-width: 992px) {
  .ingredient-img-3 {
    display: none;
  }
}

.golden-box-3 {
  width: 121px;
  z-index: 1;
}

@media (max-width: 992px) {
  .golden-box-3 {
    display: none;
  }
}

.speciality-title-3 {
  font-family: LaoMN;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  padding-top: 20px;
  margin-left: 21px;
  margin-right: 21px;
}

.speciality-description-3 {
  font-family: Lato-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
  padding-bottom: 80px;
  margin-left: 21px;
  margin-right: 21px;
}

//SPECIAL 3

//MENU

.main-title-menu {
  text-align: center;
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.title-decoration {
  color: #ff9900;
}

.title-menu {
  font-weight: 800;
  font-size: 14px;
  padding-bottom: 5px;
}

.description-menu {
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 20px;
}

.price-menu {
  color: #ff9900;
  margin-left: 200px;
}

.arrow-menu {
  position: relative;
  left: 45px;
  bottom: 20px;
}

//MENU

//QUOTE

.quote {
  font-family: GurmukhiMN;
  font-size: 27px;
  text-align: center;
  padding-bottom: 20px;
}

hr {
  width: 40px;
  margin: auto;
}

//QUOTE

//RESERVATION

.button-reservation {
  width: 150px;
  margin: auto;
  padding-top: 200px;
}

.bg-img-reservation {
  background-image: url(../img/reservation.png);
  height: 400px;
  background-position: center;
  width: auto;
}

//RESERVATION

//FOOTER

footer {
  background-color: black;
  font-family: LaoMN;
  color: #ffffff;
  letter-spacing: 0;
}

.logo-insta {
  width: 50px;
  position: relative;
  left: 60px;
}

.logo-facebook {
  width: 50px;
}

.footer-title {
  font-size: 28px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.credit {
  position: relative;
  right: 30px;
}

//FOOTER
