@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.container {
  padding-bottom: 10px;
}

@media (max-width: 992px) {
  .golden-box {
    display: none;
  }
  .ingredient-img {
    display: none;
  }
}

body {
  background-color: #000000ca;
  color: white;
}

a {
  text-decoration: none;
}

header {
  background-image: url(../img/Header-img.png);
  background-position: center;
}

.logo {
  margin: auto;
  width: 180px;
  height: 180px;
}

.introduction-text {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  padding-top: 30px;
}

.navigation-bar {
  font-family: LaoMN;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: 50px;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.main-title-menu {
  text-align: center;
  font-size: 28px;
}

.title-decoration {
  color: #ff9900;
}

.menu-background {
  background-color: red;
}

.title-menu {
  font-weight: 800;
  font-size: 14px;
  padding-bottom: 5px;
}

.description-menu {
  font-weight: 100;
  font-size: 12px;
}

.price-menu {
  color: #ff9900;
  margin-left: 200px;
}

.quote {
  font-family: GurmukhiMN;
  font-size: 27px;
  text-align: center;
  padding-bottom: 10px;
}

hr {
  width: 40px;
  margin: auto;
}

.button-reservation {
  width: 150px;
  margin: auto;
  padding-top: 200px;
}

.bg-img-reservation {
  background-image: url(../img/reservation.png);
  height: 400px;
  background-position: center;
  width: auto;
}

.Specialities-title {
  font-family: LaoMN;
  font-size: 29px;
  letter-spacing: 0;
  padding-top: 47px;
}

.speciality-img {
  width: auto;
  margin: auto;
}

.ingredient-img {
  width: 121px;
}

.golden-box {
  width: 121px;
  z-index: 1;
}

.speciality-title {
  font-family: LaoMN;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
}

.speciality-description {
  font-family: Lato-Regular;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
}

footer {
  background-color: black;
  font-family: LaoMN;
  color: #ffffff;
  letter-spacing: 0;
}

.logo-insta {
  width: 50px;
}

.logo-facebook {
  width: 50px;
}

.footer-title {
  font-size: 28px;
  padding-top: 20px;
}
